#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


div.element
{

}

@font-face 
{
	font-family: 'action_man-webfont';
	src: url('action_man-webfont.woff') format('woff'),
		url('action_man-webfont.eot') format('eot'),
		url('action_man-webfont.svg') format('svg'),
		url('action_man-webfont.ttf') format('ttf');

	font-family: 'action_man_shaded';
	src: url('action_man_shaded-webfont.woff') format('woff'),
		url('action_man_shaded-webfont.eot') format('eot'),
		url('action_man_shaded-webfont.svg') format('svg'),
		url('action_man_shaded-webfont.ttf') format('ttf');
}

body 
{
	margin: 0px;
}


/*En-tête*/

header
{
	padding: 5px;
	text-align:center;
	font-family: 'action_man-webfont', Comic Sans MS;
}

header span
{
	color : #EC407A;
}

h1
{
	padding : 0px;
	margin:0px;
	font-size: 28px;
}

.soulign
{
	text-decoration: underline #EC407A;
}

/*Présentation générale*/

.containt
{
	border: 1px grey solid;
}

h2
{
	font-size:26px;
}

p
{
	margin: auto;
	padding:5px;
	font-size:18px;
}


/*Formation, Expériences professionnelles et recommandations (partie droite)*/

section
{
	text-align: justify;
}

.iconsi
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 25px;
	font-size: 25px ;
	color: #EC407A;
}



.conteneur /*Titre des rubriques et font awesome*/
{
	display:flex;
	flex-direction: row;
	border-bottom: 1px #EC407A solid ;
	padding:10px;
	margin-top:10px;
	margin-bottom: 20px;
	font-size: medium;	
	font-family:'action_man_shaded', Comic Sans MS;
}

article/*sous-rubrique entière*/
{
	display: flex;
	flex-direction: column;
}

.icons /*CSS pour font awesome*/
{
	padding-left: 10px;
	padding-top: 20px;
	color: #EC407A;
}

.icons2
{
	padding-left: 10px;
	padding-top: 24px;
	color: #EC407A;
	font-size: 9px;
}

/*Partie gauche de la partie Formation, Expériences professionnelles et recommandations*/

.column_left
{
	display: flex;
	width: 100%;
	flex-direction: row;
	height: 60px;
	justify-content:left;
	padding-bottom: 10px;
}

.date_et_lieu
{
	padding-top: 20px;
	text-align:left;
	margin:0px;
	font-weight: bold;
	font-size: 18px;
	padding-left: 30px;
}	

/*Partie droite de la partie Formation, Expériences professionnelles et recommandations*/	

.column_right
{
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

section
{
	padding-right: 10px;
}




/*Sous-rubrique Recommandations*/
		
.conteneur_recommandations
{
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-top:5px;
	text-align:center;
	padding-bottom: 20px;
}

.recommandation_loic
{
	text-align: center;
	padding-bottom: 20px;

}

.recommandation_vch
{
	text-align: center;
}

/* Partie gauche : Photo, contact, à propos de moi, loisirs*/

/*Présentation générale de la partie de gauche*/

aside
{		
	background-color: #EC407A;
}

h3
{
	color:black;
	background-color: #26C6DA;
	text-align : center;
	width: auto;
	font-size: 20px;
	padding: 5px;
	margin:0px;
	margin-bottom: 10px;
	margin-top: 20px;
}


/*Photo de moi*/

.image_profil
{
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	padding-top: 30px;
}

img
{
	border-radius: 100px / 100px;
}

/*Contact*/
		
.contact
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.adresse
{
	padding:10px;
}

.telephone
{
	padding: 10px;
}

.email
{
	padding: 10px;
}

.site
{
	padding: 10px;
}

.skype
{
	padding: 10px;
}


/*A propos de moi*/

.apropos
{
	flex:2;
	text-align: justify; 
	padding: 10px;
	margin: 10px;
	padding-left:25px;
	padding-right: 25px;
	margin:0px;
}


/*Loisirs*/

.loisirs
{
	display:flex;
	flex-direction : row;
	justify-content: space-around;
	padding:20px;
	padding-bottom: 20px;
}

.logos
{
	border: 2px black solid;
	border-radius:40px/40px;
	font-size: 12px;
	padding:8px;
}


/* Nouvelles règles si la fenêtre fait entre 768px et 991.98px*/
@media (min-width: 768px) and (max-width: 1200px)
{

header
{
	font-size: x-large;
}

article/*sous-rubrique entière*/
{
	display: flex;
	flex-direction: row;
}

h3
{
	font-size: 26px;
}

.column_right
{
	width: 50%;
	padding-top:40px;
}

.intitule
{
	font-weight: bold;
	font-size: 22px;
}
.date_et_lieu
{
	font-size: 22px;
}	

p
{
	font-size:22px;
}

.conteneur_recommandations
{
	font-size:22px;
	flex-direction: row;
	justify-content: space-around;
	padding-left:70px;
}

h2
{
	font-size:30px;
}

.column_left
{
	display: flex;
	width: 50%;
	padding-top: 15px;	
	padding-left:50px;
	padding-right:20px;
	height: 30px;
}

}

/* Nouvelles règles si la fenêtre fait entre 992px et 1199.98px*/
@media (min-width: 1200px)
{

.containt
{
	display: flex;
	flex-direction: row-reverse;
	margin: auto;
	width: 1300px;
}

header
{
	padding-top: 50px;
	text-align: left;
	font-size: 20px;	
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	padding-left: 60px;
}

p
{
	margin:0px;
}

.column_right_section
{
	width: 70%;
}
section
{
	padding-left: 70px;
	border : 10px, black, solid;
	width: 67%;
}

article
{
	display: flex;
	flex-direction: row;
}


.iconsi
{
	padding-top: 20px;
}
.icons
{
	padding-top: 20px;
	padding-right: 10px;
}

.icons2
{
	padding-top: 24px;
	padding-right: 10px;
	font-size: 9px;
}

.column_left
{
	display: flex;
	width: 30%;
	padding-top: 0px;
}

.column_right
{
	width:70%;
	padding-left: 100px;
	margin:0px;
	padding-top: 12px;
	text-align: left;
}

.intitule
{
	font-weight: bold;
	font-size: 22px;
}

.date_et_lieu
{
	padding-left: 5px;
	text-align:left;
}	

.conteneur_recommandations
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	text-align: left;
}
.recommandation_loic
{
	text-align: left;
}

.recommandation_vch
{
	text-align: left;
}

aside
{	
	display: flex;
	flex-direction: column;
	width : 33%;
}

.contact
{
	text-align: left;
}


.adresse
{
	padding-top: 10px;
	padding-left: 25px;
}

.telephone
{
	padding-top: 10px;
	padding-left: 25px;
}

.email
{
	padding-top: 10px;
	padding-left: 25px;
}

.site
{
	padding-top : 10px;
	padding-left: 25px;
}

.skype
{
	padding-top: 10px;
	padding-left: 25px;
}

.apropos
{
	flex:2;
	padding-left:25px;
	padding-right: 25px;
	margin:0px;
}
	
.loisirs
{
	display:flex;
	padding-bottom: 20px;
}

}
